.git
.github
.local-logs
.pytest_cache
__pycache__
*.pyc
*.zip
*.safetensors
*.bin
*.pt
*.pth
*.gguf

API
assets
deepanalyze
docker
docs
example
playground
scripts
tests

demo/*
!demo/chat_v2/
!demo/mock_vllm/
demo/chat_v2/workspace
demo/chat_v2/frontend/node_modules
demo/chat_v2/frontend/.next
demo/chat_v2/frontend/public/monaco-editor
